#logout
{
    margin-left: 1800px;
}
#room_name
{
    width:30%;
}
body
{
    background: linear-gradient(135deg, rgba(255,0,0,1) 15%, rgb(255, 251, 0) 100%);
}
#output
{
    border-style: solid;
    width: 30%; 
}

h
{
font-size: 45px;
}
